body {
  background: url("~images/backgroundMod-img.jpg") no-repeat center center fixed; 
  -webkit-backdrop-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.main{
  margin-top: 50px;
}

.title-box{
  margin-top: 20%;

  .title{
    color: black;
    text-shadow: 2px 0px 0px #f7f4f4;
  }

  .subtitle{
    color: black;
    text-shadow: 2px 2px 0px #f7f4f4;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;

  }
}

.exchange_box{
  margin: 10px auto;
  .logo_box{
    margin: 0 auto;
    padding-bottom: 10px;
  }

}